//
//  Cadi Custom Theme Variables
//  _____________________________________________

//
//  Theme variables
//  ---------------------------------------------

//  Colors
@theme__color__primary: #1979c3;
@theme__color__primary-alt: #006bb4;
@theme__color__secondary: #41362f;

//  Typography
@font-family-name__base: "Open Sans";
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Sidebar (required by parent theme)
@sidebar__background-color: @color-white-smoke;

//  Copyright (required by parent theme)
@copyright__background-color: @color-gray-middle4;

//
//  Custom styles
//  ---------------------------------------------

// Add your custom LESS/CSS here
